# Supervised Learning

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [13]:
df = pd.read_parquet('imputed-data/imputed-set-a.parquet')
df.columns

Index(['Time', 'Age', 'BUN', 'Creatinine', 'GCS', 'Gender', 'Glucose', 'HCO3',
       'HCT', 'HR', 'Height', 'ICUType', 'K', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'Platelets', 'RespRate', 'Temp', 'TroponinT', 'Urine',
       'WBC', 'Weight', 'ALP', 'ALT', 'AST', 'Albumin', 'Bilirubin',
       'Cholesterol', 'DiasABP', 'FiO2', 'Lactate', 'MAP', 'MechVent', 'PaCO2',
       'PaO2', 'SaO2', 'SysABP', 'TroponinI', 'pH', 'RecordID'],
      dtype='object')

In [14]:
df_label = pd.read_parquet('processed-data/processed-outcomes-a.parquet')
df_label
df_label["RecordID"]

0       132539
1       132540
2       132541
3       132543
4       132545
         ...
3995    142665
3996    142667
3997    142670
3998    142671
3999    142673
Name: RecordID, Length: 4000, dtype: int64

In [23]:
df_joined = df.set_index("RecordID").join(df_label.set_index("RecordID"))
y = df_joined["In-hospital_death"].reset_index(drop=True)
X = df.loc[:, df.columns != "In-hospital_death"]

,Time,Age,BUN,Creatinine,GCS,Gender,Glucose,HCO3,HCT,HR,...,Lactate,MAP,MechVent,PaCO2,PaO2,SaO2,SysABP,TroponinI,pH,RecordID
0,00:00,35.0,17.5,1.05,15.0,0.0,136.5,22.0,37.45,92.5,...,2.500,83.0,1.0,39.0,248.5,NaN,121.000000,NaN,7.34,132592.0
1,01:00,35.0,20.0,1.00,14.0,0.0,142.0,23.0,32.50,88.5,...,2.350,84.0,1.0,41.0,261.5,97.0,121.000000,3.10,7.37,132592.0
2,02:00,35.0,19.0,0.90,15.0,0.0,140.0,23.0,31.60,112.0,...,2.325,81.0,1.0,41.0,236.0,98.0,117.500000,4.20,7.37,132592.0
3,03:00,35.0,68.0,2.30,15.0,0.0,603.0,11.0,25.50,113.0,...,2.300,80.0,1.0,41.0,193.5,98.0,116.666667,1.10,7.36,132592.0
4,04:00,35.0,68.0,2.30,15.0,0.0,603.0,11.0,25.50,112.0,...,2.300,78.5,1.0,41.0,183.0,98.0,115.875000,1.40,7.36,132592.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195995,44:00,56.0,9.0,0.40,15.0,1.0,107.0,29.0,34.40,95.0,...,1.100,103.0,1.0,40.0,63.0,91.0,150.000000,NaN,7.40,141565.0
195996,45:00,56.0,9.0,0.40,15.0,1.0,107.0,29.0,34.40,94.0,...,1.100,105.0,1.0,40.0,63.0,91.0,151.000000,5.00,7.40,141565.0
195997,46:00,56.0,9.0,0.40,15.0,1.0,107.0,29.0,34.40,100.0,...,1.100,116.0,1.0,40.0,63.0,91.0,167.000000,3.30,7.40,141565.0
195998,47:00,56.0,9.0,0.40,15.0,1.0,107.0,29.0,34.40,99.0,...,1.100,88.0,1.0,40.0,63.0,91.0,131.000000,1.50,7.40,141565.0
195999,48:00,56.0,9.0,0.40,15.0,1.0,107.0,29.0,34.40,96.0,...,1.100,94.0,1.0,40.0,63.0,91.0,134.000000,3.65,7.40,141565.0